Repository troykirin/claude-manager: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-py, lint-py, typecheck-py, rust-fmt, rust-clippy, ts-fmt, yaml-lint, task-validate

Path conditions:
  fmt-py: any of: python/**/*.py
  lint-py: any of: python/**/*.py
  typecheck-py: any of: python/**/*.py
  rust-fmt: any of: claude-session-tui/**/*.rs
  rust-clippy: any of: claude-session-tui/**/*.rs
  ts-fmt: any of: federation-integration/**/*.{ts,tsx,js,jsx}
  yaml-lint: any of: *.{yml,yaml}
  task-validate: any of: Taskfile.yml

Complete TUI enhancement: real Claude schema support, snippet browser, vim navigation, and comprehensive tests
  claude-session-tui/README.md
  claude-session-tui/demo_projects/-fake/sample.jsonl
  claude-session-tui/demo_projects/-fake/sample2.jsonl
  claude-session-tui/demo_projects/-fake/sample3.jsonl
  claude-session-tui/src/lib.rs
  claude-session-tui/src/main.rs
  claude-session-tui/src/parser.rs
Due: rust-fmt, rust-clippy

feat: Implement Phase 2 Shadow Renaissance Architecture with four specialized agents
  claude-session-tui/Cargo.toml
  claude-session-tui/src/lib.rs
  claude-session-tui/src/v2/core/errors.rs
  claude-session-tui/src/v2/core/mod.rs
  claude-session-tui/src/v2/core/models.rs
  claude-session-tui/src/v2/core/traits.rs
  claude-session-tui/src/v2/mod.rs
  claude-session-tui/src/v2/shadow/beru/mod.rs
  claude-session-tui/src/v2/shadow/iron/mod.rs
  claude-session-tui/src/v2/shadow/mod.rs
  claude-session-tui/src/v2/shadow/tank/mod.rs
  claude-session-tui/src/v2/shadow/tusk/mod.rs
Due: rust-fmt, rust-clippy

feat: Add semver display and fix search navigation
  claude-session-tui/src/ui/app.rs
Due: rust-fmt, rust-clippy

feat: Complete Phase 3 Validation Pipeline with Thermal-Safe Benchmarking
  claude-session-tui/Cargo.toml
  claude-session-tui/src/bin/benchmark.rs
  claude-session-tui/src/v2/core/traits.rs
  claude-session-tui/src/v2/mod.rs
  claude-session-tui/src/v2/shadow/beru/mod.rs
  claude-session-tui/src/v2/shadow/iron/mod.rs
  claude-session-tui/src/v2/shadow/tank/mod.rs
  claude-session-tui/src/v2/shadow/tusk/mod.rs
  claude-session-tui/src/v2/validation.rs
Due: rust-fmt, rust-clippy

feat: harden cm mv with comprehensive edge case handling and testing
  claude-manager.sh
  test-cm-mv-edge-cases.sh
Due: none

feat(cm): implement organize extract for granular session movement (NOS-451)
  claude-manager.sh
Due: none

fix(core): resolve multiple path handling and robustness issues
  claude-manager.sh
Due: none

fix: Handle tilde expansion in _resolve_absolute_path
  claude-manager.sh
Due: none

feat: Add prioritized project detection system
  claude-manager.sh
Due: none

feat(parser): enhance error handling and search capabilities
  claude-session-tui/src/parser.rs
  claude-session-tui/src/ui/app.rs
Due: rust-fmt, rust-clippy

fix(move): resolve arithmetic syntax error in session file update
  claude-manager.sh
Due: none

need to split up and fix dates feat(session): introduce context-sensitive session management for Claude
  2025-09-15T15-09-00-07-00_chatgpt-analysis.md
  claude-session-context.sh
  python/claude_manager_tui_typed.py
  python/test_claude_manager_tui.py
  tests/test_cm_special_cases.sh
Due: none

fix(install): ensure proper shell rc configuration
  install.sh
Due: none

docs: reorganize documentation structure and update TODO
  .gitignore
  TODO.md
  docs/README.md
  docs/REPOSITORY_ANALYSIS_2025-09-24.md
  docs/architecture/components.md
  docs/architecture/safety-protocols.md
  docs/architecture/session-management.md
  docs/architecture/state-corruption.md
  docs/archived/analysis-reports/chatgpt-analysis-2025-09-15.md
  docs/archived/debugging-sessions/handoff-2025-09-12.txt
  docs/archived/handoff-summary.md
  docs/development/release-review.md
  docs/development/testing.md
Due: none

Initial release: claude-manager v1.0.0 - Manage Claude projects
  .gitignore
  CONTRIBUTING.md
  LICENSE
  Makefile
  README.md
  RELEASE_READINESS.md
  docs/installation/INSTALLATION.md
  docs/integration/NABIOS.md
  docs/integration/PAIRING.md
  docs/usage/USAGE.md
  examples/basic-migrate.sh
  examples/batch-migrate.sh
  install.sh
  src/claude-manager.sh
  tests/test_basic.sh
Due: none

docs: add comprehensive onboarding and project identity documentation
  CLAUDE.md
  QUICK_REFERENCE.md
  claude-manager.sh
  docs/GETTING_STARTED.md
  docs/ONBOARDING.md
Due: none

feat(agent-mode): add non-interactive autonomous migration support
  claude-manager.sh
  install.sh
Due: none

fix(critical): implement proper path transformer for project directory renaming
  claude-manager.sh
Due: none

test(critical): add comprehensive test suite for path transformer function
  tests/helpers/test_helpers.bash
  tests/unit/test_path_transformer.bats
Due: none

task(test): add test automation commands to Taskfile
  Taskfile.yml
Due: yaml-lint, task-validate

docs(test): add comprehensive test automation documentation
  docs/TEST_AUTOMATION_STRATEGY.md
  tests/QUICKSTART.md
  tests/README.md
Due: none

chore(test): add test automation project deliverables and status
  DELIVERABLES.md
  TESTING_SUMMARY.md
  TEST_IMPLEMENTATION_CHECKLIST.md
Due: none

fix(test): correct home tilde expansion test calculation
  tests/unit/test_path_transformer.bats
Due: none

docs(phase-1): add session recovery release notes and delivery checklist
  PHASE_1_DELIVERY_CHECKLIST.md
  RELEASE_NOTES_v1.1.0.md
Due: none

docs(tui): add comprehensive TUI documentation and launcher improvements
  TUI_COMPLETION_SUMMARY.md
  TUI_QUICK_START.md
  TUI_TECHNICAL.md
  run-tui.sh
Due: none

test(path): add comprehensive path transformation unit tests
  tests/unit/test_path_transformer.bats
Due: none

feat(organize): add session merge subcommand with deduplication
  claude-manager.sh
Due: none

feat(helpers): add consolidate-session helper script
  consolidate-session.sh
Due: none
